.homeContainer {
   
    background-color: #000000;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-right: 3vw;
  }

  .leftElement {
    display: flex;
    flex-direction: column;
    width: 25vw;
    color: #ffffff;
    justify-content: space-between;
  
  }

  .logoTwitter {
    transform: rotate(180deg);
    width: 30%;
  
  }

  .logoutContainer{
    display: flex;
    flex-direction: column;
  }
  .iconAstronaut {
    color: #ffffff;
  }


  .centerElement {
    display: flex;
    flex-direction: column;
    width: 45vw;
    border-right: 1px solid white;
    border-left: 1px solid white;
  }

  .tweetsContainer {
    display: flex;
    color: #ffffff;
    height: 30vh;
    border-bottom: 1px solid white;
  }

  .lastTweetsContainer {
    display: flex;
    flex-direction: column;
    color: #ffffff;
  }

  .rightElement {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    width: 30vw;
    border: #ffffff 5px;
  }

  .trendsContainer {
    display: flex;
    flex-direction: column;
    color: #ffffff;
  }