.homeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #000000;
}

.iconTwitter {
    transform: rotate(90deg);
    color: "#ffffff";
}

.lastTweetscontainer {
    display: flex;
    justify-content: center;
    border-color: rgb(255, 255, 255);
    border-width: thick;
    background-color: #000000;
    color: #ffff;
}